.cat-pill{
    padding: .5em;
    border-radius: .25em;
}

span.cat-pill{
    padding: .25em;
    border-radius: .25em;
}

a#logo{
    padding :.75em !important;
    color: #00cc67 !important;
}

a#logo:hover {
    color: #00cc67 !important;
    text-decoration: underline !important;
}